{% extends 'webrepetitor/base.html' %}

{% block title %}
    Обо мне
{% endblock %}


{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Обо мне</h1>
           {% for post in bbs %}
                <div class="alert alert-warning mt-2">
                <a href="{% url 'webrepetitor:post_detail' post.id %}">
          <p class="date">{{ post.title }}
            </p>
            {{ post.body|truncatewords_html:30|linebreaks }}

        </div>
        {% endfor %}
{% endblock %}



