{% extends "webrepetitor/base.html" %}


{% block title %}Рубрики{% endblock %}

{% block content %}

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Рубрики</h1>
      <p class="fs-5 text-body-secondary"><ya-tr-span data-index="6-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Quickly build an effective pricing table for your potential customers with this Bootstrap example. " data-translation="Качественная подача материала - один из главных факторов для восприятия. " data-ch="0" data-type="trSpan">Заключается к применению иновационных подходах к преподаванию. </ya-tr-span><ya-tr-span data-index="6-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Постороение занятия с использованием научного подхода к клиенту" data-translation="Постороение занятия с использованием научного подхода к клиенту" data-ch="0" data-type="trSpan"></ya-tr-span></p>

    {% for post in posts %}

        <div class="alert alert-warning mt-2">
        <p>{{ post.published_time }}<p>

        <p>Дата публикации</p>
    <h2>
            <a href="{% url 'webrepetitor:post_detail' post.id %}">



            <p class="date">{{ post.title }}
            </p>
            {{ post.body|truncatewords_html:30|linebreaks }}
    </h2>

</div>
  {% endfor %}

{% endblock %}


